<div id="app">
  <h1 class="movie-header no-display title">Movie Hit List</h1>
  <h1 class="show-header no-display title">TV Show Hit List</h1>
  <ul class="movies-list container"></ul>
  <ul class="shows-list container"></ul>
</div> 