// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$overlay-color: rgba(36,36,36,.95);

.navbar-brand{
  color: #99CC33 !important;
}

.poster-img{
  height: 600px;
  // width: 135px;
  max-width: 410px;
}

#main-region{
  margin-top: 50px;
  padding-bottom: 50px;
}



table{
  width: 410px !important;
  margin: 0 auto !important;
  th{
    text-align: center;
  }
  tbody{
    tr{
      height: 617px !important;
      td{
        text-align:center;
        // height: 210px;
        display:table-cell;
        vertical-align:middle;
        cursor: pointer;
      }
    }
  }
}
.watched{
  // background-color: lightgray;
  opacity: 0.2;
  text-decoration: line-through;
  img{
    opacity: 0.5;
  }
}

.queued {
  background-color: lightblue;
}


.overview{
  text-align: left;
  padding: 0 50px;
}

.media-title{
  padding: 70px 20px 0 20px;
}

.panel-title{
  font-size: 70px;
  text-align: center;
  padding: 30px 0;
  font-family: 'Lato', sans-serif;
}

.no-display{
  display: none;
}

.no-opacity{
  opacity: 0;
  transition: all 1s linear;
}

.main{
  position: relative;
}

.overlay{
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: rgba(0,0,0, .8);
  height: 100%;
  width: 100%;
}

// .overlay {
//   height: 617px;
//   width: 427px;
//   background-color: lightgray;
//   position: absolute;
//   left: 0;
//   top: 0;
// }

// .arrow-left{
//   border-bottom-width: 617px;
//   border-right-width: 617px;
//   background-color: lightgray;
// }

// .wrapper {
//   overflow: hidden;
// }

// .overlay, .rectangle{
//   width: 100%;
//   height: 100%;
// }

// .wrapper .overlay {
//   right: -100%;
// }

// .wrapper .overlay,
// .wrapper .overlay .rectangle,
// .wrapper .overlay .arrow-left {
//   position: absolute;
// }

// .wrapper .overlay .rectangle {
//   background-color: lightgray;
// }

// .wrapper .overlay .arrow-left {
//   border-bottom: 0 solid transparent;
//   border-right: 0 solid lightgray;
// }
