// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#app {
  .movies_list{
    li{
      position: relative;
      padding: 0.5em;
      font-size: 25px;
      color: red;
      border-bottom: 1px solid #343434;
      &.watched{
        color: green;
      }
      img{
        height: 30px;
        float: right;
        position: absolute;
        right: 10px;
      }
    }
  }
}